.about {
  height: 600px;
  width: 100%;
  font-size: 1rem;
  margin: 4rem 0;
}

.about__image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about img {
  height: 350px;
  border-radius: 25%;
  margin: 2rem;
}

.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
article {
  width: 50%;
  margin: 2rem;
}

article h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--dark-blue);
  margin-bottom: 1rem;
}
article p {
  margin: 1rem;
}

article span {
  font-weight: bold;
  color: var(--dark-blue);
}

@media screen and (max-width: 900px) {
  .about__container {
    flex-direction: column;
  }

  article {
    width: 80%;
  }

  article h3 {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .about img {
    height: 200px;
  }
}
