header {
  background-image: url(../images/header-background.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.title {
  font-size: 1.3rem;
  color: white;
  margin-left: 100px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.title__name {
  font-size: 6rem;
  font-family: 'Ubuntu', sans-serif;
  margin: 2rem 0;
  font-weight: bold;
}

.title__job {
  font-weight: bold;
  color: var(--green);
  font-size: 2rem;
}

.title .contact {
  width: fit-content;
  margin-top: 2rem;
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 1rem;
    margin: auto;
  }

  .title__name {
    font-size: 5rem;
  }

  .title__job {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 400px) {
  .title {
    text-align: center;
  }

  .title__name {
    font-size: 3rem;
  }

  .title__job {
    font-size: 1.3rem;
  }
  .title .contact {
    margin: 2rem auto;
  }
}
