:root {
  --green: #03fa6e;
  --dark-blue: #002a43;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

section {
  padding-bottom: 2rem;
}
.subTitle,
.subTitle__text {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  text-align: center;
  z-index: 2 !important;
}
.subTitle {
  font-size: 3rem;
  padding-top: 4rem;
  color: var(--dark-blue);
}

.subTitle__text {
  font-size: 1.5rem;
  color: var(--green);
  margin: 1rem auto;
  position: relative;
  width: fit-content;
  z-index: -1;
}

.subTitle__text:before {
  content: '';
  height: 3px;
  width: 50px;
  background-color: var(--dark-blue);
  position: absolute;
  left: -60px;
  top: 50%;
}

.subTitle__text:after {
  content: '';
  height: 3px;
  width: 50px;
  background-color: var(--dark-blue);
  position: absolute;
  right: -60px;
  top: 50%;
}

.subTitle__description {
  text-align: center;
  width: 80%;
  margin: 2rem auto;
}

@media screen and (max-width: 500px) {
  .subTitle {
    font-size: 2.3rem;
  }
  .subTitle__text {
    font-size: 1.2rem;
  }

  .subTitle__text:before,
  .subTitle__text:after {
    width: 30px;
  }
  .subTitle__text:before {
    left: -40px;
  }
  .subTitle__text:after {
    right: -40px;
  }
}
